.user-info {
	display: flex;
	justify-content: space-evenly;
	margin: 2rem 0;

	.info {
		text-align: left;
		display: flex;
		flex-direction: column;
		gap: 5px;

		p {
			font-weight: medium;

			span {
				color: $yellow-dark;
				font-weight: light !important;
			}
		}

		.button {
			width: min-content;
			margin-top: 0.5rem;

			button {
				width: 100%;
				padding: 0.6rem 0.7rem;
				border-radius: 5px;
				background-color: $blue-dark;
				border: 1px solid $blue-dark;
				color: $white;
				font-weight: bold;
				cursor: pointer;
				outline: none;
				&:hover {
					border: 1px solid $blue-dark;
					background-color: $white;
					color: $blue-dark;
					font-weight: bold;
				}
			}
		}
	}
}

.react-tabs__tab-list {
	margin-top: 5rem;
	text-align: left;
}

.react-tabs__tab--selected {
}
.react-tabs__tab {
	select {
		border: none;
		width: 100%;
		padding: 0.5rem;
		font-size: 1rem;
	}

	select:focus,
	select:active {
		outline: none;
	}

	p {
		padding: 0.2rem;
	}
}

.react-tabs__tab-panel {
	.items {
		list-style-type: none;
		margin-top: 1rem;

		.item {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			border-bottom: 1px solid grey;
			padding: 1rem 0;
			cursor: pointer;

			.button-groups {
				width: 100%;
				padding-top: 1rem;
				display: flex;

				button {
					padding: 0.4rem 0.8rem;
					margin: 0 1rem;
					cursor: pointer;

					&:first-child {
						border: none;
						outline: none;
						background-color: green;
						color: $white;
						border-radius: 5px;
						border: 1px solid green;
						font-weight: 500;
						&:hover {
							background-color: $white;
							color: green;
							border: 1px solid green;
						}
					}
					&:last-child {
						border: none;
						outline: none;
						background-color: rgb(234, 48, 48);
						color: $white;
						border-radius: 5px;
						border: 1px solid rgb(234, 48, 48);
						font-weight: 500;
						&:hover {
							background-color: $white;
							color: rgb(234, 48, 48);
							border: 1px solid rgb(234, 48, 48);
						}
					}
				}
			}
		}
	}
}

.green {
	color: green;
}
.warning {
	color: $yellow-dark;
}
.danger {
	color: red;
}
