.form-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	.form {
		margin: 1rem 0;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 100%;

		span {
			color: red;
			line-height: 0.5;
			font-size: small;
		}
		.input-group {
			input,
			select {
				max-width: 400px;
				width: 100%;
				padding: 0.6rem 0.8rem;
				border-radius: 5px;
				outline: none;
				border: 1px solid lightgray;
				background-color: lightgrey;
				font-size: medium;
				opacity: 0.5;
				cursor: pointer;
			}

			input:focus,
			select:focus {
				background-color: $white;
				border: 1px solid rgba($blue-light, 0.5);
			}
		}

		.button {
			margin-top: 1rem;

			button {
				cursor: pointer;
				max-width: 400px;
				width: 100%;
				padding: 0.8rem;
				font-weight: 600;
				font-size: medium;
				border-radius: 5px;
				color: $white;
				background-color: $blue-dark;
				border: none;
				outline: none;
				border: 1px solid $blue-dark;

				&:hover {
					background-color: $white;
					color: $blue-dark;
					border: 1px solid rgba($blue-dark, 0.5);
				}
			}
		}
	}
}
